* {
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 20% auto;
}

aside {
  border-right: 1px solid rgb(205, 205, 205);
}

.um-logo {
  padding: 16px 24px;
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 100%;
}

.um-user-email {
  font-size: 0.8rem;
}

.um-user img {
  width: 50px;
}

.test-designer {
  width: 50%;
  height: 200px;
}

.um-user {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  justify-content: flex-start;
  margin: 1.4rem 0;
  padding-left: 1.4rem;
}

.um-user > div {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.um-user-name {
  color: #00abcc;
  font-weight: 700;
  font-size: 1.4rem;
}

.um-navitems__main,
.um-navitems__secondary {
  list-style: none;
}

li {
  color: #00abcc;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  padding-left: 2rem;
}

li > span {
  font-size: 1.5rem;
  margin-left: 1rem;
  text-align: center;
}

ul {
  padding-left: 0;
  border-bottom: 1px solid #f3f3f3;
}

i {
  font-size: 1.9rem;
  font-weight: 700;
  color: #00abcc;
}

.um-navitems__main > li:last-child {
  border-left: 5px solid #00abcc;
  border-bottom: 2px solid #888888;
  margin-bottom: 0;
}

.test {
  height: 100%;
  background-color: #888888;
}

.test-data {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0.5rem;
  border: 1px solid #f3f3f3;
  background-color: white;
}

.test-data > span:first-child {
  background-color: black;
  color: white;
  padding: 0.7rem;
  height: fit-content;
}

.test-data > span:nth-child(2) {
  padding-top: 0.7rem;
  margin-left: 1rem;
}

.test-data > i:nth-child(3) {
  padding-top: 0.4rem;
  margin-left: 1rem;
  /* background-color: #00ABCC; */
}

.test-data > i:last-child {
  width: 80%;
}
